.thumbnail {


    max-width: 80px;


}


.thumbnail:hover {

border-bottom: 2px solid blue;
    margin-bottom: -2px;

}


#mainImage {


    width: 300px;
margin-bottom: 10px;
    line-height: 243px;

}


.current {

    border-bottom: 2px solid blue;
    margin-bottom: -2px;

}


#tooltipContainer {

    border-bottom: 3px solid #eeeeee;
    background-color: #f7f5d0;
    position: absolute;
    left: 0;
    top:0;
    font-size: 10px;
    padding: 5px;
/*display: none;*/
}