

.zaminaKoloru {

    color: blue;
}

.zmienSpoerotem {
    color: black;
}



#tooltip {

    display: none;
    background-color: aquamarine;
    position: absolute;
    width: 150px;
    height: 50px;
}